
body{
    background-color: #444;
    width: 100vw;
    display: grid;
    grid-template-areas: 
        "header header header",
        "nav nav nav",
        "main main main",
        "footer footer footer";
}
.navbar{
    background-image: linear-gradient(135deg, #92B4EC,#FFFFFF,#FFE69A,#FFD24C);
    background-size: 500%;
    animation: mainAnimado 10s ease-in-out infinite;
    border-radius: 0 0 10px 10px;
}

header{
    width: 100vw;
    height: 90vh;
    background-image: url(imagen/Misiones\ 3.jpeg); 
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    transition: all 2s;
}


.img-header{
    margin-top: 5%;
}

.p-header{
    font-size: 3em;
    color: #FFD24C;
    margin-top: 20%;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 0 10px #000;
    animation: animaP 5s  alternate infinite;
}

@keyframes animaP{
    0%{
        font-size: 10%;
    }
    50%{
        font-size: 100% 50%
    }
    100%{
        transition: 50%;
    }
    
}

main{
    width: 100vw;
    height: auto;
    background-image: linear-gradient(135deg, #92B4EC,#FFFFFF,#FFE69A,#FFD24C);
    background-size: 500%;
    padding: 2% 5% 2% 5%;
    animation: mainAnimado 10s ease-in-out infinite;
}

.col-md-4{
    margin-bottom: 4%;
}

.card-body{
    background-color: #FFE69A;
    padding: 2% 2% 2% 2%;
    border-radius: 0 0 5px 5px;
}

@keyframes mainAnimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.contactos{
    width: 100vw;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFD24C;
}

.img-contacto{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.img-contac{
    transform: scale(0.7);
}
.p-contactos-img{
    font-size: 2em;
    margin-top: 40px;
    text-align: center;
}

.telefonos{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:40px 0;
    flex-wrap: wrap-reverse;
}

footer{
    width: 100vw;
    height: 8vh;
    background-color: #FFE69A;
}


.p-footer{
    font-size: 1.5em;
    color: #444;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 0 10px #000;
}


@media screen and (max-width: 600px){


    header{
        width: 100vw;
        height: 65vh;
        background-position: center;
    }
    .navbar{
        background-image: linear-gradient(135deg, #92B4EC,#FFFFFF,#FFE69A,#FFD24C);
        background-size: 500%;
        animation: mainAnimado 10s ease-in-out infinite;
        border-radius: 0 0 10px 10px;
    }
    .p-header{
        font-size: 1.5em;
    }
    
}

.contenedor-btn-footer{
    margin-top:10px;
    display:flex;
}

.btn-footer{
    border: none;
    border-radius: 10px;
    background-color: #FFD24C;
    margin: 0 20px;
    
}


.btn-footer:hover{
    background-image: linear-gradient(135deg, #FFD24C,#FFFFFF,#FFE69A);
    background-size: 500%;
    animation: mainAnimado 2 ease-in-out infinite;
    animation: rotate 1s ease;
    box-shadow: 0 0 10px #000;
}

@keyframes rotate {
    0% {
        transform:rotateZ(0deg);
    }
    30%{
        transform:rotateZ(-5deg);
    }
    60%{
        transform:rotateZ(5deg);
    }
    100%{
        transform:  rotateZ(0deg);
    }
}





.btn-footer a{
    text-decoration: none;
    color:#444;
}


@media screen and (max-width:400px){
    .btn-footer{
        font-size: 0.9em;
    }

    .p-footer{
        font-size: .5em;
    }
}