body{
    width: 100vw;
    display: grid;
    background-color: #92B4EC;
    grid-template-areas: 
        "main main main",
        "footer footer footer";
}
.navbar{
    background-image: linear-gradient(135deg, #92B4EC,#FFFFFF,#FFE69A,#FFD24C);
}

@keyframes animaP{
    0%{
        font-size: 10%;
    }
    50%{
        font-size: 100% 50%
    }
    100%{
        transition: 50%;
    }
    
}

@keyframes mainAnimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


main{
    width: 100vw;
    height: auto;
    background-color: #92B4EC;
    padding: 20px;

}
.fotos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-videos{
    font-size: 100vw;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
    text-shadow: 0 0 10px #000000;   
}

.videos-container{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-around;
    margin-top: 20px;
    background-image: linear-gradient(135deg, #92B4EC,#FFFFFF,#FFE69A,#FFD24C);
    background-size: 500%;
    animation: mainAnimado 10s ease-in-out infinite;
    padding: 20px;
    border-radius: 20px;
}


.videos-entregas{
    width: 500px;
    min-width: 50px;
    height: 300px;
    min-height: 50px;
    object-fit: cover;
    border-radius: 10px;    
    transition: all 0.5s;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


@media screen and (max-width: 700px){
    .videos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


  .videos-entregas{
    width: 90%;
    height: 80%;
  }
    
}


footer{
    width: 100vw;
    height: 8vh;
    background-color: #FFE69A;
}


.p-footer{
    font-size: 1.5em;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 0 10px #000;
}




.principal{
    position: fixed ;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #444c;
    z-index: 20;
}

.interno{
    width:50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;
}

.video-act{
    width: 100%;
    height: 100%;
}

#btn-cer{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

#btn-atr{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 3rem;
}

#btn-ade{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
}

.contenedor-btn-footer{
    margin-top:10px;
}

.btn-footer{
    border: none;
    border-radius: 10px;
    background-color: #FFD24C;
    margin: 0 20px;
    
}


.btn-footer:hover{
    background-image: linear-gradient(135deg, #FFD24C,#FFFFFF,#FFE69A);
    background-size: 500%;
    animation: mainAnimado 2 ease-in-out infinite;
    animation: rotate 1s ease;
    box-shadow: 0 0 10px #000;
}

@keyframes rotate {
    0% {
        transform:rotateZ(0deg);
    }
    30%{
        transform:rotateZ(-5deg);
    }
    60%{
        transform:rotateZ(5deg);
    }
    100%{
        transform:  rotateZ(0deg);
    }
}





.btn-footer a{
    text-decoration: none;
    color:#444;
}